/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/04/2021, 12:05:54
    Author     : Rafae
*/

.md_loading{
    width: 150;
    height: 150.0;
}
